body{
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: black;
} 
.weather-app {
    background-color: white;
    border-radius: 10px;
display: block;
margin: 0 auto;
padding: 50px;
max-width: 600px;

}