body{
    background-color: #D2FDFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a{
    color: #D84797;
}
a:hover{
    color: #820933;
}

.weather-app {
    background-color: white;
    border-radius: 10px;
display: block;
margin: 0 auto;
padding: 50px;
max-width: 600px;
}

header {
    border-bottom: 1px rgba(184, 184, 184, 0.6) solid;
    padding: 0 0 40px 0;
}

.search-form-input {
width: 80%;
padding: 7px;
}
.search-form-button{
    background-color: #D84797;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.search-form-button:hover{
    background-color: #820933;
}

.weather-app-data{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.weather-app-city{
        color: #3ABEFF;
        line-height: 1.3em;
}
.weather-app-details {  
    line-height: 1.3em;
}

.weather-app-temperature-container{
    display: flex;
}

.weather-app-icon{
    font-size: 35px;
    margin: 5px 0 0 10px;
}
.weather-app-temperature-value{
    font-size: 45px;
    font-weight: 600;
}
.weather-app-temperature-unit{
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
}

strong{
    color: #D84797;
}
footer {
    border-top: 1px rgba(184, 184, 184, 0.6) solid;
    padding: 30px 0 0 0;
    font-size: 13px;
    text-align: center;
}